*{
    
    margin: 0 15px 0 15px;
}

button{
    background-color: #3882F6;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    box-shadow: none;
    color: white;
}

/*/Navbar part of script*/

.header, .main, .closure{
    background-color: #1f2937;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links{
    display: flex;
    list-style: none;
    gap: 2px;
}

.nav_links, a{
    color: #E5E7EB;
    size: 18px;
}

.logo{
    color:#F9FAF8;
    size: 24px;
}

/*Hero part of script*/

.main{
    display: flex;
    color: #F9FAF8;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;

}

.main > h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 15px;
}

.main > .image_container{
    background-color: lightslategray;
    height: 180px;
    width: 400px;
    display: flex;
    align-items: center;

}

.main > .text_container > button{
    border-style: none;
}




/* Information part */

.div_two > h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
    
}

.box{
    margin: 0 auto;
    color: white;
    text-align: center;
    line-height: 140px;
    font-size:20px;
    border-radius: 10px;
    border: 2px solid rgb(52, 126, 236);
    padding: 10px;
    width: 100px;
    height: 100px;
    
}

.text{
    text-align: center;
    
}

/*Quote part of script*/

.quote{
    background-color: #E5E7EB;
    padding: 50px 40px 50px 40px;
    
}

.quote_text{
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    justify-content: center;
}

.name_text{
    float: right;
    font-size: 28px;
    font-weight: bold;
}




/*Call to action part of script*/

.action_call{
    background-color: #3882F6;
    color: white;
    margin: 50px;
    display: flex;
    /*color: #F9FAF8;*/
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.call_text{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/*.call_button{
   display: flex;
   justify-content: space-between;
   align-items: center;
  border-color: white;
}
 */


  /*footer part*/
.closure{
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1f2937;
}
  


